doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        //- script(src="../public/scripts/utils/utilsAdmin.js") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='../public/style.css')
        title Pagina inicio
        include header.pug
    body 
            button#btCrear
                a(href="/createMovie")
                    h3 Crear película nueva
                    img(src="../public/images/claqueta.png", alt="")
            if(data)   
                ul#listfilms
                    
            else    
                p Datos no encontrados
            script(src="../public/scripts/initAdmin.js" type='module') 
    //body 
        
            button#btnCrear
                h2 Crear película nueva
                    a(href="/createMovie")
                img(src="../public/images/claqueta.svg", alt="")
                
            if(data)   
                ul#listfilms
                    
            else    
                p Datos no encontrados
            script(src="../public/scripts/initAdmin.js" type='module') 