doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        button#btCrear 
            a(href="/createMovie") Crear pelicula nueva
        if(data)    
            ul
                each val, index in data
                    div
                        li= key + ': ' + val.Title
                        img#edit(src="./images/edit.png", alt="edit")
                        img#delete(src="./images/delete.png", alt="edit")
        else    
            p Datos no encontrados