doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', type='text/css', href='./public/style.css')
        link(href="../public/images/logo.png",rel="icon", type="image/png")
        title Document
        
    body.body 
     div.dashboard-container
        h1.dashboard dashboard

            input.logout-button(type='button', value='Logout', onclick="logOut()")
          

        script(src="../public/js/scriptAuth.js") 
        