doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../public/style.css')
    title Busca pelis
  body
    include ./header
    main
      div
        h2 ¿Buscas una película?
        button(a='' href='/search' type='button' value='Buscar películas') Buscar películas
      div
        h2 Mira tus películas favoritas
        button(a='' href='/movies' type='button' value='Mis películas favoritas') Mis películas favoritas
      