doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='../public/style.css')
        title Document
    body 

    main
        form(action="/editMovie", method="post")
            label(for="title") Título
            input#title(type="text", name="title", value="Título")
            label(for="year") Año
            input#year(type="number", name="year", value="Año")
            label(for="director") Director
            input#director(type="text", name="director", value="Director")
            label(for="actors") Reparto
            input#actors(type="text", name="actors", value="Reparto")
            label(for="plot") Sinopsis
            input#plot(type="textarea", name="plot", value="Sinopsis")
            label(for="genre") Género
            input#genre(type="text", name="genre", value="Género")
            label(for="runtime") Duración
            input#runtime(type="number", name="runtime", value="Duración")

            input(type="submit", value="Editar Pelicula")