
doctype html
html
  head
    meta(charset='utf-8')
    title Film
    link(rel='stylesheet', type='text/css', href='./public/style.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
  header
    div#logo
      img(src="../public/images/logo.png", alt="logo" class="logo")
         
        