doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Films
        link(rel='stylesheet' href='../public/style.css')
        link(href="../public/images/logo.png",rel="icon", type="image/png") 
    body 
    
      //img.Logo(src="../public/images/logo.png", alt="logo" class="logo")
    if url != "/" && url != "/signup"
        if rol == false
            header
                nav(id='container')
                    input#menu(type='checkbox')
                    label(for='menu') Menú
                    ul
                        li
                            a(href='/dashboard') Panel de control
                        li
                            a(href='/search') Buscador de películas
                        li
                            a(href='/favorites') Mis películas
                        li
                            a(href='/logout') Salir
        else 
            header
                nav(id='container')
                    input#menu(type='checkbox')
                    label(for='menu') Menú
                    ul(class='drop')
                        li
                            a(href='/movies') Panel de control
                        li
                            a(href='/logout') Salir
