doctype html
head
  meta(charset='utf-8')
  title Film
  link(rel='stylesheet', type='text/css', href='/css/style.css')
  
body.body   
  include header
  .container
    form.homeForm(action='/login', method='post')
      label(for='user') User
      input.ghost-input(name='username', type='email', placeholder='Usuario', required='')
      label(for='password') Password
      input.ghost-input(name='password', type='password', placeholder='Password', required='')
      input.ghost-button(type='submit', value='Login', onclick="spinner()")
      
    p.pregunta ¿No estás registrado?
    a.button.ghost-button2(href= '/signup' value='signup') Signup  

  .loader
      .loading
  script(type='text/javascript').
    function spinner() {
    document.getElementsByClassName("loader")[0].style.display = "block";
    } 
        