
:root {
    font-family:'Poppins', sans-serif;
    
    background-attachment: fixed;
}

/*--FORMULARIOS--*/

#form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#formCreate{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    width: 300px;
}

#formAdmin{
    display: flex;
    flex-direction: column;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background: rgb(255,253,247);
    background: linear-gradient(283deg, rgba(255,253,247,1) 38%, rgba(0,0,0,0.4738270308123249) 98%);
    padding: 10px;
    margin: 5px;
}
#formAdmin > input[type=submit]{
    width: 150px;
    margin-left: 75px;
    border-radius: 15px;
    font-size: 20px;
}
#campos{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
body > main > h2{
    text-align: center;
}

#submit{
    width: 150px;
    margin-left: 75px;
    
}

#searchText{
    border-radius: 10px;
    margin-right: 20px;
    height: 35px;
    margin:20px;
    font-size: 18px;
    text-align: center;
}

#searchButton{
    border-radius: 10px;
    margin-right: 20px;
    height: 39px;
    margin:20px;
    font-size: 18px;
}

/*--TARJETAS/SEARCH--*/

#searchMovies div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 5px;
    border: solid 2px black;
    border-radius: 5px;
    background: rgb(255,253,247);
    background: linear-gradient(283deg, rgba(255,253,247,1) 38%, rgba(88, 88, 88, 0.474) 98%);
}

h2{
    font-size: 2.1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.titulos{
    font-size: 2.1em;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
.busca{
    color: white
}

#cardItems{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#searchMovies img.poster {
    width: 70vw;
    height: 100vw;
    border-radius: 5px;
}

#imgLogo{
    width: 80vW;
    height: 80vw;
    border-radius: 45px;
    padding: 20px;
}

.logo{
    width:100vw;
    height:30vh;
}

#logo2 img{
    width:40vw;
    height:15vh;
    display: flex;
    margin-left: 100px;
}

.normal {
    width: 40px;
    display: flex;
    position: absolute;
    right: 20px;
}
#searchMovies .poster {
    width: 40vw;
    height: fit-content;
    border-radius: 5px;
}

#btnInfo{
    border-radius: 30px;
    font-size: 14px;
    width: 100px;
}
#btCrear{
    padding: 30px;
    margin-left: 70px;
    border-radius: 45px;
    background: rgb(255,253,247);
    background: linear-gradient(283deg, rgba(255,253,247,1) 38%, rgba(0,0,0,0.4738270308123249) 98%);
    text-decoration: none;
}
#btCrear a {
    text-decoration: none;
}

#btnSU{
    width: 150px;
    margin-left: 85px;
    border-radius: 15px;
    font-size: 20px;
}


#listfilms > div > li{
    font-size: 2em;
    text-align: justify;
    margin: 5px;
    color:white;
}

/*--DETALLE PELÃCULA--*/

#detailFilm {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: left;
    padding: 15px;
    margin: 5px;
    border: solid 1px black;
    border-radius: 5px;
    background: rgb(255,253,247);
    background: linear-gradient(283deg, rgba(255,253,247,1) 38%, rgba(88, 88, 88, 0.474) 98%);
}

.normalFilm{
    width: 40px;
    display: flex;
    position: absolute;
    right: 30px;
}

/*--DASHBOARD--*/

#dashboard section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard img {
    width: 200px;
}

#dashboard button {
    border-radius: 45px;
    margin-bottom: 30px;
}

#popup{
    text-align: center;
    padding: 20px;
    background-color: rgb(161, 59, 59);
    border-radius: 45px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 60%;
    position: absolute;
    top:40%;
    left:15%;
}

#popup > p{
    font-size: 24px;
    color:white;
    
}

#yesBttn {
    font-size: 24px;
    margin: 10px;
    font-weight: bold;
    border-radius: 15px;
    
}

#noBttn{
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
}


/*--MENU HAMBURGUESA--*/

nav#container {
    margin-top: 5px;
    position: static;
    padding: 10px;
}
nav ul {
    display: none;
}
nav input:checked~ul {
    display: block;
}
nav input {
    display: none;
}
nav label {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(253, 252, 252);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: rgb(248, 248, 248);
}

nav label:hover {
    background-color: rgb(10, 10, 10);
    
}

nav li {
    list-style:none;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: left;
    border-radius: 45px;
    width: 200px;
    margin: 3px
}
nav li a{
    text-decoration: none;
    color: black;
}


/* MEDIA QUERYS */

/* Smartphones */

@media (min-width:320px) {}

@media (min-width:480px) {}

/* Tablets */

@media (min-width:641px) {}

/* Laptops y high screens */

@media (min-width:961px) {}

@media (min-width:1025px) {}

@media (min-width:1281px) {}


/* HEADER-----------------*/
.logo{
    width: 100vw;
    height:30vh;
}




/*HOME---------------------*/
.container{
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content:center;
    justify-items: center;
    align-items:flex-start;
    width: 100vw;
    margin: 0 auto;
}

.container2{
    display:flex;
    background-color: black;
    flex-direction: column;
    height:60vh;
}

.homeForm2{
    display:flex;
    background-color: black;
    flex-direction: column;
    margin: 30px;
    font-size: 40px;
    width:90vw;
    height:80vh;

}

.ghost-input2{
    width:80vw;
    height: 5vh;
    border-radius: 15px;
    font-size: 35px;
    font-weight: bold;
    border:1px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #4b545f;
    background: #fff;
    font-family: Open Sans,Verdana;
    padding: 20px;
    margin: 40px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.body{
    background-color: black
} 

.ghost-input {
    display: block;
    font-weight:bold;
    width: 90vw;
    font-size: 35px;
    border:1px;
    border-radius: 15px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #4b545f;
    background: #fff;
    font-family: Open Sans,Verdana;
    padding: 20px;
    margin: 40px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  .ghost-button,.ghost-button2{
    background-color: transparent;
    width:30vw;
    height: 6vh;
    font-size: 40px;
    font-family: Open Sans,Verdana;
    font-weight: bold;
    margin: 30px;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .ghost-button:hover {
    border:2px solid #515151;
  }

  .btnSign{
      display: flex;
      align-items: flex-end;
      margin-left: 15px;
  }


  a.ghost-button{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 400px 100px 0px 0px;
  }

  a.inicio{
    color: white;
    font-size: 40px;
    border:2px solid #ddd;
    border-radius: 15px;
    text-decoration: none;
    font-family: Open Sans,Verdana;
    padding:10px 30px; 
    font-weight: bold;
    margin: 50px 20px 0px 0px;
  }

  p.volver{
    margin: 30px;
    width:30vw;
  }

  .pregunta{
    color:white;
    font-family: Open Sans,Verdana;;
    font-size: 30px;
    margin-left: 20px;
  }

  .loader {
    display: none;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .loading {
    border: 6px solid #ccc;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top-color: #1ecd97;
    border-left-color: #1ecd97;
    animation: spin 1s infinite ease-in;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  a.button.ghost-button2{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    color:white;
    font-size: 40px;
    background-color: transparent;
    width:20vw;
    height: 6vh;
    font-size: 40px;
    font-family: Open Sans,Verdana;
    font-weight: bold;
    margin: 30px;
    text-decoration: none;
    border:2px solid #ddd;
    border-radius: 15px;  
  }

  .dashboard{
    color: white;
    font-size: 40px;
    margin: 30px;
  }

  .logout-button{
    display: flex;
    text-align: center;
    justify-content:center;
    color:white;
    font-size: 30px;
    background-color: transparent;
    width:30vw;
    height: 8vh;
    font-size: 20px;
    font-family: Open Sans,Verdana;
    font-weight: bold;
    margin: 30px;
    text-decoration: none;
    border:2px solid #ddd;
    border-radius: 15px;  
  }

  .dashboard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  
  

