:root {
    font-family:'Poppins', sans-serif;
    background: rgb(70,96,236);
    background: linear-gradient(344deg, rgba(70,96,236,1) 14%, rgba(11,62,143,0.36738445378151263) 33%);
    background-attachment: fixed;
}

/*--FORMULARIO--*/

#form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#searchText{
    border-radius: 10px;
    margin-right: 20px;
    height: 35px;
}
#searchButton{
    border-radius: 10px;
    background-color: white;
}
/* .logo{
    height: 30vw;
    width: 94vw;
    border-radius: 45px;
} */

/*--TARJETAS/SEARCH--*/

#searchMovies div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 5px;
    border: solid 2px black;
    border-radius: 5px;
    list-style:none;
    background: rgb(255,253,247);
    background: linear-gradient(283deg, rgba(255,253,247,1) 38%, rgba(0,0,0,0.4738270308123249) 98%);
    
}
#cardItems{
    display: flex;
    flex-direction: column;
    
}

#searchMovies .poster {
    width: 40vw;
    height: fit-content;
    border-radius: 5px;
}

#imgLogo{
    width: 80vW;
    height: 80vw;
    border-radius: 15px;
}
.normal {
    width: 50px;
    display: flex;
    position: absolute;
    right: 40px;
}
#searchMovies .poster {
    width: 40vw;
    height: fit-content;
    border-radius: 5px;
}

/*--DASHBOARD USER--*/

#dashboard section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard img {
    width: 200px;
}
#dashboard button {
    border-radius: 45px;
    margin-bottom: 30px;
}



/*--DETALLE PELÍCULA--*/

#detailFilm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    border: solid 1px black;
    border-radius: 5px;
    background: rgb(255,253,247);
    background: linear-gradient(283deg, rgba(255,253,247,1) 38%, rgba(0,0,0,0.4738270308123249) 98%);
}

#imgHeartFilm{
    width: 50px;
    display: flex;
    position: absolute;
    right: 30px;
}

/*--MENU HAMBURGUESA--*/

nav#container {
    margin-top: 5px;
    position: static;
    padding: 10px;
}
nav ul {
    display: none;
}
nav input:checked~ul {
    display: block;
}
nav input {
    display: none;
}
nav label {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: black;
}

nav label:hover {
    background-color: white;
}

nav li {
    list-style:none;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: left;
    border-radius: 45px;
    width: 200px;
}

/* MEDIA QUERYS */

/* Smartphones */

@media (min-width:320px) {}

@media (min-width:480px) {}

/* Tablets */

@media (min-width:641px) {}

/* Laptops y high screens */

@media (min-width:961px) {}

@media (min-width:1025px) {}

@media (min-width:1281px) {}